body{
    background-color: rgb(19, 30, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container{
    width: 350px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;

}

.todo-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox:checked {
    background-color: gray;
}

.addbutton{
    width: 90%;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border: none;
}.addbutton:hover{
    cursor: pointer;
}

.items{
    padding-left: 5px;
}

.todoie{
    color: white;
    text-align: center;
    font-size: 75px;
}