.red-button{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding: 4px 8px 4px 8px;
    transition: opacity 0.2s;
    border-radius: 2px;
}

button:hover{
    opacity: 0.7;
}