.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.square{
  border: 1px solid;
  height: 200px;
  width:  100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container{
  margin-top: 50px;
}